nav {
    height: 48px;

    margin: 0 16px 16px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 18px;

    background: rgba(255,255,255,0.05);

    border: 0.2px solid #FC3EA0;
}

button {
    border: none;
    background: none;

    color: white;

    cursor: pointer;
}