.page {
    height: 100vh;
    width: 100%;
    max-width: 650px;

        margin: 0 auto;
    display: flex;
    flex-direction: column;
border: 1px solid white;
    background-color: #0E0B0B;
}
.content {
    flex: 1;
    overflow-y: auto;
}   