<header class="perfil-header">
    <div class="avatar-contenedor">
        <img [src]="fotoperfil" alt="Foto de perfil" class="foto-perfil">
    </div>
    <div>
        <h1>{{nombre}}</h1>
        <p class="bio">{{biografia}}</p>
        <button class="btn-editar" (click)="botonEditar()">Editar Perfil</button>
    </div>
</header>

<main class="perfil-contenido">
    <section class="tarjeta-musica">
        <div class="tarjeta-header">
            <h2><img src="assets/icons/artista.png" alt="icono musica" class="icono-header"> Artistas más escuchados</h2>
        </div>

        <ul class="lista-artistas">
            <li *ngFor="let artista of artistas; let i = index" class="artista-burbuja">
                <img [src]="artista.imagenUrl" [alt]="artista.nombre" class="foto-artista">
                <span class="ranking-texto">#{{ i + 1 }} {{ artista.nombre }}</span>
            </li>
        </ul>
    </section>

    <section class="tarjeta-musica" id="canciones">
        <div class="tarjeta-header">
            <h2><img src="assets/icons/cancion.png" alt="icono musica" class="icono-header"> Canciones más escuchadas</h2>
    </div>
  

        <ol class="lista-canciones">
            <li *ngFor="let cancion of canciones" class="cancion-renglon">
                <span class="cancion-numero">{{ cancion.ranking }}</span>
                <img [src]="cancion.coverUrl" alt="Cover" class="cover-mini">
                <div class="track-info">
                    <span class="item-texto-titulo">{{ cancion.titulo }}</span>
                    <span class="item-texto-sub">{{ cancion.artista }}</span>
                </div>
            </li>
        </ol>
    </section>

<section class="tarjeta-musica" id="redes">
    <h2><img src="assets/icons/redes.png" alt="icono musica" class="icono-header"> Redes Sociales</h2>
    
    <div class="redes-grid">
        <a [href]="redes.instagram" target="_blank" class="red-btn instagram">Instagram</a>
        <a [href]="redes.spotify" target="_blank" class="red-btn spotify">Spotify</a>
        <a [href]="redes.twitter" target="_blank" class="red-btn twitter">Twitter</a>
    </div>
</section>
</main>
